@font-face {
  font-family: 'YeongamWolchulsan.ttf';
  src: url('./font/YeongamWolchulsan.ttf') format('truetype')
}

body{
  margin: 0px;
  background-color: rgb(205, 223, 240);
  bottom: 0;
}

.bar-area{
  background-color: rgb(167, 206, 239);
  font-family:'YeongamWolchulsan.ttf' ;
  display: flex;
  justify-content: space-between;
  padding: 9px;
 
}
.title-name{
  padding-left: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.x-area{
  background-color: aliceblue;
  height: 24px;
  width: 24px;

  text-align: center;
}



.main{
  text-align: center;

}

.image-area{

margin: 50px;
}

.h1-area{
padding-top: 70px; 
 text-align: center;
  font-family: 'YeongamWolchulsan.ttf';
animation: motion 1.5s linear 0s infinite alternate;  
color: white;
text-shadow: -2px 0 #6d7caa, 0 2px #6d7caa, 2px 0 #6d7caa, 0 -2px #6d7caa;
}

@keyframes motion {
0% {margin-top: 0px;}
100% {margin-top: 10px;}
}

.h1-section{
 background-color: rgb(224, 232, 239);
 border: 1px solid lightblue;

}


#btn{
  border: 1px solid rgb(167, 214, 231);
  color: rgb(120, 158, 194);
  font-family: 'YeongamWolchulsan.ttf';
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 20px;
}



#reset-btn{
  border: 1px solid rgb(167, 214, 231);
  color: rgb(120, 158, 194);
  font-family: 'YeongamWolchulsan.ttf';
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 20px;
}

#btn:hover{
  color: rgb(134, 93, 205);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#reset-btn:hover{
  color: rgb(134, 93, 205);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



@media screen and (max-width: 48rem){
 
}