body{
background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
}

.container{
    text-align: center;
    border: 20px solid gray;
    border-radius: 20px;
    padding : 200px;
}

.result-bk{
   margin-top:20px;
   margin-bottom:30 px;
}